.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* akhane common class */
.btn-c{
  padding: 12px 16px;
  background-color:#30B868;
  color: white;
  font-weight: bold;
  border: 1px solid transparent; /*ami ata disi karon hover korle jeno border dilew header move na kore*/
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-c:hover{
  background-color:white;
  color: #30B868;
  border: 1px solid #30B868 ;
}


/* asob deferent class */
header {
  width: 100%;
  height: 92px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
