.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* akhane common class */
.btn-c {
  padding: 12px 16px;
  background-color: #30B868;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-c:hover {
  background: none;
  color: #30B868;
  border: 1px solid #30B868;
}

.card {
  width: 322px;
  height: 300px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


/* asob deferent class */
header {
  width: 100%;
  height: 92px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#hero-section {
  width: 100%;
  height: 670px;
  background: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 120px 134px 120px;
  overflow: scroll;
  position: relative;
}

.hero-section-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.section-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #ffffff;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 30px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #90ffb5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #06f96b;

}

.section-h h1 {
  font-weight: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.section-h span {
  color: #30B868;
}

.section-t p {
  margin: 20px 0 32px 0;
  color: white;
  line-height: 32px;
  font-size: 18px;
}

.hero-section-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.hero-section-btn .btn-a {
  padding: 16px 18px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: none;
  text-align: center;

}

.hero-section-btn button img {
  height: 1em;
  margin-left: 6px;
}


.hero-section-btn .btn-a:hover {
  padding: 16px 18px;
  background-color: #30B868;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#node-section {
  width: 100%;
  height: 448px;
}

.node-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.node-t h1 {
  font-weight: bold;
  margin: 36px 0 16px 0;
  font-size: 48px;

}

.node-t p {
  font-size: 16px;
  color: #627382;
}

.node-card img {
  background-color: #F95555;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 24px 0 16px 0;
}

.node-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 44px;
}

.node-card h3 {
  text-transform: capitalize;
  margin-bottom: 24px;
}

.node-card p {
  color: #627382;

}

#brain-section {
  width: 100%;
  margin-top: 40px;
}

.brain-container {
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
  border-radius: 12px;
}

.brain-container .img1 {
  width: 600px;
  height: 600px;
}

.brain-contant {
  width: 700px;
  height: 397px;
}

.brain-contant span {
  display: inline-block;
  color: #30B868;
  margin: 16px 0;
}

.brain-contant .b-1 {
  color: #627382;
  margin: 40px 0;
}

.brain-contant p {
  margin: 16px 0;
}

#ready-section {
  width: 100%;
  height: 506px;
  margin-top: 120px;
}

.ready-contant {
  width: 90%;
  height: 394px;
  margin: auto auto;
  background-color: #F7F6F2;
  text-align: center;
  border-radius: 6px;
}

.ready-contant h2 {
  font-size: 40px;
  text-transform: capitalize;
  padding: 24px 0;
}

.ready-contant p {
  color: #627382;
  margin: 24px 0;
}

#footer-section {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgb(0, 32, 59));
}
.footer-contant{
  padding: 120px 120px 80px 120px;
  width: 90%;
}
.footer-contant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.footer-contant .social-icons p{
  color: white;
  letter-spacing: 2px;
  
}
.footer-contant .social-icons a{
  text-decoration: none;
  color: white;
  margin-left: 16px;
}
.footer-copyright{
  color: white;
  margin: ;
  text-align: center;
}